<header>
    <form action="/" method="GET" class="search-form">
        <a class="invisible-link" href='/'><h1>Code Chest</h1></a>
        <input id="search" name="q" type="text" placeholder="What are you looking for?" />
        <input type="submit" value="Search">

        <div class="chk-container">
            <div class="round">
              <input type="checkbox" name="excludeSearchCommand" id="excludeSearchCommand"/>
              <label for="excludeSearchCommand"></label>
            </div>
            <label class="chk-label" for="excludeSearchCommand">Command Snippets</label>
        </div>

        <div class="chk-container">
            <div class="round">
              <input type="checkbox" name="excludeSearchCode" id="excludeSearchCode"/>
              <label for="excludeSearchCode"></label>
            </div>
            <label class="chk-label" for="excludeSearchCode">Code Snippets</label>
        </div>
    </form>
</header>