<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <a href="snip/command/new">Create New 'Command Snippet'</a>
        <% snippets.forEach(snip => { %>
            <div>
                <h1><%= snip.title %></h1>
                <span><%= snip.program %></span>
                <%- snip.meta_html_sanitised %>
                <h4><strong>Tags</strong></h4>
                <ul>
                    <% snip.tags.forEach(tag => { %>
                        <li><%= tag %></li>
                    <% }); %>
                </ul>
            </div>
            <hr>
        <% }); %>
    </body>
</html>