<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/md-style.css" />
    <title>Document</title>
</head>

<body>

    <!-- Search bar in top left corner. -->
    <header>
        <form action="/" method="GET" class="search-form">
            <a class="invisible-link" href='/'><h1>Code Chest</h1></a>
            <input id="search" name="q" type="text" value="<%= searchQuery %>"
                placeholder="What are you looking for?" />
            <input type="submit" value="Search">
    
            <div class="chk-container">
                <div class="round">
                  <input type="checkbox" name="excludeSearchCommand" id="excludeSearchCommand" <%= excludeSearchCommand ? "checked" : "" %> />
                  <label for="excludeSearchCommand"></label>
                </div>
                <label class="chk-label" for="excludeSearchCommand">Command Snippets</label>
            </div>
    
            <div class="chk-container">
                <div class="round">
                  <input type="checkbox" name="excludeSearchCode" id="excludeSearchCode" <%=excludeSearchCode ? "checked" : "" %> />
                  <label for="excludeSearchCode"></label>
                </div>
                <label class="chk-label" for="excludeSearchCode">Code Snippets</label>
            </div>
        </form>
    </header>

    <main>
        
        <!-- Buttons for navigating to the forms for creating 
        code/command snippets. -->
        <section class="btn-container" id="view-snippets">
            
            <a class="btn" href="/snip/new/code">Create code snippet</a>
            <a class="btn" href="/snip/new/command">Create command snippet</a>
        </section>

        <h1 class="section-header">Latest Snippets</h1>

        <!-- Display snippets. -->
        <%- include('_snippets') %>

    </main>
</body>
</html>