@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
* {
    padding: 0; /* Set padding for all elements to 0. */
    margin: 0; /* Set margin for all elements to 0. */
}

.snippet-container {
    border: 1px solid black; /* border has a width of 1 pixel. */
    padding: 15px; 
    margin: 40px 0px; 
}

body {
    max-width: 960px; 
    margin: auto; 
}
.header {
    padding: 15 px;
    margin: 30px;
}

.search-form {
    display: flex;
}
.btn-search {
    font-family: 'Roboto Slab', serif;
}
.input-field {
    font-family: 'Roboto Slab',, serif; 
}
