@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    padding: 0; /* Set padding for all elements to 0. */
    margin: 0; /* Set margin for all elements to 0. */
    font-family: 'Roboto Slab', serif;
}

.snippet-container { /* selector for elements of class snippet-container. */
    border: 1px solid black; /* border has a width of 1 pixel. */
    padding: 15px; 
    margin-left: 40px;  
    margin-bottom: 20px;
    margin-top: 20px;
}

body { /* selector for body */
    max-width: 960px; 
    margin: auto; 
}

.btn { /* selector for button */
    display: inline-block;
    height: 80px;
    width: 120px;
    border: 1px solid blue; 
    background-color: cyan;
    padding: 10px; 
    margin: 10px;
    text-align: center;
    border-radius: 2px;
    transition: background-color 0.15s ease-out;
}

/* Search button. */
button {
    font-size: large;
    height: 40px;
}

.btn:hover { 
    background-color: blueviolet;
}

.header {
    padding: 15px;
    margin: 5px;
    background-color: cadetblue;
}

.search-form {
    display: flex;
}

#search {
    font-size: large;
    width: 400px;
    height: 40px;
    border: 1px solid black;

}

.link {
    display: inline-block;
    border: 1px solid blue; 
    background-color: cyan;
    padding: 3px;
    margin: 3px;
    text-align: center;
    border-radius: 1px;
}

.list {
    display: flex;
}

