<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>CodeChest</title>
    </head>
    <body>
        <!-- Search bar in top left corner. -->
        <%- include('../_header') %>

        <main>
            <h1 class="section-header"><a class="focus-link" href='/'>home</a> / <%= title %></h1>
        
            <form action="/snip/<%= snip.id %>?_method=PUT" method="POST">
                <%- include('_form') %>
            </form>
        </main>
    </body>
</html>